<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/core/libs.min.css">
    <link rel="stylesheet" href="assets/css/qompac-ui.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/custom.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/dark.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/customizer.minf700.css?v=1.0.1" >
    <link rel="stylesheet" href="assets/css/rtl.minf700.css?v=1.0.1">
</head>
<style>
    .error-message {
        color: red;
    }
</style>
<body>


    <%if(designation==="ACCOUNTANT"){%>
        <%-include('../Includes/sidebar3.ejs')%>
        <%-include('../Includes/header-5.ejs')%>
        
        <% }else{ %>

    <%-include('../Includes/sidebar2.ejs')%>
    <%-include('../Includes/header-4.ejs')%>
    <% } %>

<div class="content-inner container-fluid pb-0" id="page_layout">
    <h4 class="mb-5">Party/Vendor Master</h4>
    <div class="card">
        
        <div class="card-body">
            <form action="/cas/district/vendor" method="post" onsubmit="return validateVendorForm()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Party Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="name" id="partyName">
                            <div id="partyNameError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Office Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" readonly="true" name="office_name" value="<%= officeDetails.name %>">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Gst Number</label>
                            <input type="text" class="form-control" name="gst" id="gstNumber">
                            <div id="gstNumberError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Gender<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Gender" id="gender">
                            <div id="genderError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Aadhar No.<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Aadhar_No" id="aadharNo">
                            <div id="aadharNoError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Bank Account No. <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Bnk_Acc_No" id="bankAccountNo">
                            <div id="bankAccountNoError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">IFSC Code <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Ifsc_code" id="ifscCode">
                            <div id="ifscCodeError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Branch Details<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="branch_details" id="branchDetails">
                            <div id="branchDetailsError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Naration <span class="text-danger">*</span></label>
                            <input type="text" style='height:80px; width:320px;' class="form-control" name="desc" id="naration">
                            <div id="narationError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary next action-button" id="submitBtn">Submit</button>
                    </div>
                </div>
            </form>
        <div class="col-md-4">
            <form id="upload" action="/cas/district/vendor/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">

                <div class="col-md-4">
                <label class="form-label">File <span class="text-danger">*</span></label>
                <button type="button" class="btn btn-primary next action-button" id="uploadButton">Choose</button>
            </div>
                <input type="file" name="excelFile" accept=".xlsx, .xls" class="form-control" style="display: none;">
                <p id="fileAlert" style="color: red; display: none;">Please choose only Excel files (.xlsx, .xls)</p>
            </div>
                <div class="text-center col-md-4">
                    <button type="submit" class="btn btn-primary next action-button" id="uploadSubmitButton">Upload</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sl. No.</th>
                            <th>Vendor Name</th>
                            <th>Office Name</th>
                            <th>Aadhar No.</th>
                            <th>Branch Details</th>
                            <th>Bank Acc. No.</th>
                            <th>GST</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let[index, ven] of vendorDetails.entries()) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= ven.name %></td>
                            <td><%= ven.office_name.name %></td>
                            <td><%= ven.Aadhar_No %></td>
                            <td><%= ven.branch_details %></td>
                            <td><%= ven.Bnk_Acc_No %></td>
                            <td><%= ven.gst %></td>
                            <td>
                                <a class="btn btn-primary btn-icon btn-sm rounded-pill ms-2" href="/cas/district/edit-vendor/<%= ven._id %>" role="button" title="Edit">
                                    <span class="btn-inner">
                                        <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.4" d="M19.9927 18.9534H14.2984C13.7429 18.9534 13.291 19.4124 13.291 19.9767C13.291 20.5422 13.7429 21.0001 14.2984 21.0001H19.9927C20.5483 21.0001 21.0001 20.5422 21.0001 19.9767C21.0001 19.4124 20.5483 18.9534 19.9927 18.9534Z" fill="currentColor"></path>
                                            <path d="M10.309 6.90385L15.7049 11.2639C15.835 11.3682 15.8573 11.5596 15.7557 11.6929L9.35874 20.0282C8.95662 20.5431 8.36402 20.8344 7.72908 20.8452L4.23696 20.8882C4.05071 20.8903 3.88775 20.7613 3.84542 20.5764L3.05175 17.1258C2.91419 16.4915 3.05175 15.8358 3.45388 15.3306L9.88256 6.95545C9.98627 6.82108 10.1778 6.79743 10.309 6.90385Z" fill="currentColor"></path>
                                            <path opacity="0.4" d="M18.1208 8.66544L17.0806 9.96401C16.9758 10.0962 16.7874 10.1177 16.6573 10.0124C15.3927 8.98901 12.1545 6.36285 11.2561 5.63509C11.1249 5.52759 11.1069 5.33625 11.2127 5.20295L12.2159 3.95706C13.126 2.78534 14.7133 2.67784 15.9938 3.69906L17.4647 4.87078C18.0679 5.34377 18.47 5.96726 18.6076 6.62299C18.7663 7.3443 18.597 8.0527 18.1208 8.66544Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                               
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>

<%- include('../Includes/footer.ejs')%>

</body>
<script>
    const uploadButton = document.getElementById('uploadButton');
    const uploadInput = document.querySelector('input[name="excelFile"]');
    const uploadSubmitButton = document.getElementById('uploadSubmitButton');
    const fileAlert = document.getElementById('fileAlert');
    const uploadForm = document.getElementById('upload');
    const submitBtn = document.getElementById("submitBtn")

    uploadButton.addEventListener('click', () => {
        uploadInput.style.display = 'block';
        uploadSubmitButton.removeAttribute('disabled');
        fileAlert.style.display = 'none';
    });

    uploadInput.addEventListener('change', (event) => {
        const selectedFile = event.target.files[0];
        if (selectedFile && (selectedFile.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || selectedFile.type === 'application/vnd.ms-excel')) {
            fileAlert.style.display = 'none';
        } else {
            fileAlert.style.display = 'block';
        }
    });
    
    uploadSubmitButton.addEventListener('click', () => {
        console.log('Upload',)
        // Submit the upload form when the "Upload" button is clicked
        uploadForm.submit();
    });

    submitBtn.addEventListener("click", () => {
      var confirmSubmit = confirm("Are you sure want to continue?");
        if (!confirmSubmit) {
            
            event.preventDefault();
            alert("You clicked Cancel. Action canceled.");
        }
    });

  
        function validateVendorForm() {
            var partyName = document.getElementById("partyName").value;
            var gstNumber = document.getElementById("gstNumber").value;
            var gender = document.getElementById("gender").value;
            var aadharNo = document.getElementById("aadharNo").value;
            var bankAccountNo = document.getElementById("bankAccountNo").value;
            var ifscCode = document.getElementById("ifscCode").value;
            var branchDetails = document.getElementById("branchDetails").value;
            var naration = document.getElementById("naration").value;

            document.getElementById("partyNameError").innerHTML = "";
            document.getElementById("gstNumberError").innerHTML = "";
            document.getElementById("genderError").innerHTML = "";
            document.getElementById("aadharNoError").innerHTML = "";
            document.getElementById("bankAccountNoError").innerHTML = "";
            document.getElementById("ifscCodeError").innerHTML = "";
            document.getElementById("branchDetailsError").innerHTML = "";
            document.getElementById("narationError").innerHTML = "";

            var isValid = true;

            if (partyName === "") {
                document.getElementById("partyNameError").innerHTML = "Please enter the party name.";
                isValid = false;
            }

            if (gender === "") {
                document.getElementById("genderError").innerHTML = "Please enter the gender.";
                isValid = false;
            }

            if (gstNumber !== "" && !isValidGSTNumber(gstNumber)) {
                document.getElementById("gstNumberError").innerHTML = "Invalid GST Number.";
                isValid = false;
            }

            // Aadhar Number validation
            if (aadharNo !== "" && !isValidAadharNumber(aadharNo)) {
                document.getElementById("aadharNoError").innerHTML = "Invalid Aadhar Number.";
                isValid = false;
            }

            // Bank Account Number validation
            if (bankAccountNo !== "" && !isValidBankAccountNumber(bankAccountNo)) {
                document.getElementById("bankAccountNoError").innerHTML = "Invalid Bank Account Number.";
                isValid = false;
            }

            // IFSC Code validation
            if (ifscCode !== "" && !isValidIFSCCode(ifscCode)) {
                document.getElementById("ifscCodeError").innerHTML = "Invalid IFSC Code.";
                isValid = false;
            }

            // Branch Details validation
            if (branchDetails === "") {
                document.getElementById("branchDetailsError").innerHTML = "Please enter branch details.";
                isValid = false;
            }

            // Naration validation
            if (naration === "") {
                document.getElementById("narationError").innerHTML = "Please enter naration.";
                isValid = false;
            }
            
            return isValid;
        }
   
</script>
</html>