<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/core/libs.min.css">
    <link rel="stylesheet" href="assets/css/qompac-ui.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/custom.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/dark.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/customizer.minf700.css?v=1.0.1" >
    <link rel="stylesheet" href="assets/css/rtl.minf700.css?v=1.0.1">
</head>
<style>
    .error-message {
        color: red;
    }
    #submitBtn:disabled {
        background-color: #ccc; /* Use a color that indicates it's disabled */
        cursor: not-allowed;
        opacity: 0.5; /* You can adjust the opacity to your preference */
    }
</style>
<body>

    <%-include('../Includes/sidebar.ejs')%>
    <%-include('../Includes/header-3.ejs')%>

<div class="content-inner container-fluid pb-0" id="page_layout">
    <h4 class="mb-5">Bank</h4>
    <div class="card">
        <div class="card-body">
            <form action="/cas/directorate/bank" method="post" onsubmit="return validateForm()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Bank Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="bankName" id="bankName">
                            <div id="bankNameError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">IFSC Code <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="Ifsc_code" id="ifscCode">
                            <div id="ifscCodeError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Branch Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="branchName" id="branchName">
                            <div id="branchNameError" class="error-message"></div>
                        </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Account No.<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="accountNo" id="accountNo">
                            <div id="accountNoError" class="error-message"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Directorate Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name='directorate' value="<%= directorate.name %>" readonly>
                        </div>
                    </div>
        
                    <!-- You can uncomment this section if you want to validate the district_office field -->
                    <!-- <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">District Office Name</label>
                            <select class="form-control" name="district_office" id="districtOffice">
                                <option>Select</option>
                            </select>
                            <div id="districtOfficeError" class="error-message"></div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Branch Address <span class="text-danger">*</span></label>
                            <textarea class="form-control" name="address" id="branchAddress"></textarea>
                            <div id="branchAddressError" class="error-message"></div>
                        </div>
                    </div>
        
                    <div class="col-md-12 text-center">
                        <button type="submit" name="next" class="btn btn-primary next action-button" id="submitBtn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sl. No.</th>
                            <th>Bank Name</th>
                            <th>IFSC Code</th>
                            <th>Account No.</th>
                            <th>Branch Name</th>
                            <th>Office</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let[index, bnk] of bankDetails.entries()) { %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= bnk.bank  %></td>
                            <td><%= bnk.IFSCNumber %></td>
                            <td><%= bnk.accountNumber%></td>
                            <td><%= bnk.branch %></td>
                            <td><%= bnk?.office ? bnk?.office?.name : bnk?.directorate.name %></td>
                            <td>
                                <a class="btn btn-primary btn-icon btn-sm rounded-pill ms-2" href="/cas/directorate/edit-bank/<%= bnk._id %>" role="button" title="Edit">
                                    <span class="btn-inner">
                                        <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.4" d="M19.9927 18.9534H14.2984C13.7429 18.9534 13.291 19.4124 13.291 19.9767C13.291 20.5422 13.7429 21.0001 14.2984 21.0001H19.9927C20.5483 21.0001 21.0001 20.5422 21.0001 19.9767C21.0001 19.4124 20.5483 18.9534 19.9927 18.9534Z" fill="currentColor"></path>
                                            <path d="M10.309 6.90385L15.7049 11.2639C15.835 11.3682 15.8573 11.5596 15.7557 11.6929L9.35874 20.0282C8.95662 20.5431 8.36402 20.8344 7.72908 20.8452L4.23696 20.8882C4.05071 20.8903 3.88775 20.7613 3.84542 20.5764L3.05175 17.1258C2.91419 16.4915 3.05175 15.8358 3.45388 15.3306L9.88256 6.95545C9.98627 6.82108 10.1778 6.79743 10.309 6.90385Z" fill="currentColor"></path>
                                            <path opacity="0.4" d="M18.1208 8.66544L17.0806 9.96401C16.9758 10.0962 16.7874 10.1177 16.6573 10.0124C15.3927 8.98901 12.1545 6.36285 11.2561 5.63509C11.1249 5.52759 11.1069 5.33625 11.2127 5.20295L12.2159 3.95706C13.126 2.78534 14.7133 2.67784 15.9938 3.69906L17.4647 4.87078C18.0679 5.34377 18.47 5.96726 18.6076 6.62299C18.7663 7.3443 18.597 8.0527 18.1208 8.66544Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                                
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</div>

<%- include('../Includes/footer.ejs')%>

</body>
<script>
    let isValid = true;
    const submitBtn=document.getElementById("submitBtn")    
    function validateForm() {
        // Get form inputs
        var bankName = document.getElementById("bankName").value;
        var ifscCode = document.getElementById("ifscCode").value;
        var branchName = document.getElementById("branchName").value;
        var accountNo = document.getElementById("accountNo").value;
        var branchAddress = document.getElementById("branchAddress").value;

        document.getElementById("bankNameError").innerHTML = "";
        document.getElementById("ifscCodeError").innerHTML = "";
        document.getElementById("branchNameError").innerHTML = "";
        document.getElementById("accountNoError").innerHTML = "";
        document.getElementById("branchAddressError").innerHTML = "";
       

     
        

        if (bankName === "") {
            document.getElementById("bankNameError").innerHTML = "Please enter the bank name.";
            isValid = false;
        }

        if (ifscCode === "") {
            document.getElementById("ifscCodeError").innerHTML = "Please enter the IFSC code.";
            isValid = false;
        }

        if (branchName === "") {
            document.getElementById("branchNameError").innerHTML = "Please enter the branch name.";
            isValid = false;
        }

        if (accountNo === "") {
            document.getElementById("accountNoError").innerHTML = "Please enter the account number.";
            isValid = false;
        }

        if (branchAddress === "") {
            document.getElementById("branchAddressError").innerHTML = "Please enter the branch address.";
            isValid = false;
        }

        return isValid; 
    }
    
    submitBtn.disabled = !isValid;
    submitBtn.addEventListener("click", function(event) {
     var confirmSubmit = confirm("Are you sure want to continue?");
       if (!confirmSubmit) {
           
           event.preventDefault();
           alert("You clicked Cancel. Action canceled.");
       }
   });
</script>

</html>