<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/core/libs.min.css">
    <link rel="stylesheet" href="assets/css/qompac-ui.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/custom.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/dark.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/customizer.minf700.css?v=1.0.1" >
    <link rel="stylesheet" href="assets/css/rtl.minf700.css?v=1.0.1">
</head>
<body>


    <%if(designation==="ACCOUNTANT"){%>
        <%-include('../Includes/sidebar3.ejs')%>
        <%-include('../Includes/header-5.ejs')%>
        
        <% }else{ %>

    <%-include('../Includes/sidebar2.ejs')%>
    <%-include('../Includes/header-4.ejs')%>
    <% } %>

<div class="content-inner container-fluid pb-0" id="page_layout">
    <div class="flex-wrap d-flex justify-content-between align-items-center">
        <div><h4 class="mb-5">Cash Book Register</h4></div>
        <div>
            <select class="form-control" id="schemeSelect">
                <option>Select Scheme</option>
               
            </select>
        </div>
        <div>
            <select class="form-control" id="filterType">
                <option value="financialYear">Financial Year</option>
                <option value="monthly">Monthly</option>
                <option value="dateRange">Date Range</option>
            </select>
            <select class="form-control" id="financialYearFilter">
                <option>Select</option>
               
            </select>
            <select class="form-control" id="monthFilter" style="display: none;">
                <option>SELECT</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">Octobor</option>
                <option value="11">November</option>
                <option value="12">December</option>
                <!-- Add more months as needed -->
            </select>
            <div style="display: flex; flex-direction: row;">
            <input type="date" id="startDateInput" style="display: none;">
            <input type="date" id="endDateInput" style="display: none;">
        </div>
        </div>
       
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th colspan="4" class="text-center">Receipt/Income</th>
                            <th colspan="4" class="text-center">Payment/Expenditure</th>
                        </tr>
                        <tr>
                            <th>Month & Date</th>
                            <th>Particulars</th>
                            <th>Cash</th>
                            <th>Bank</th>
                            <th>Particulars</th>
                            <th>Voucher No.</th>
                            <th>Cash</th>
                            <th>Bank</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="startDate" ></td>
                            <td>Opening Balance</td>
                            <td id="cash"></td>
                            <td id="bank"></td>
                            <td>Beneficiary</td>
                            <td></td>
                            <td></td>
                            <td id="pamnAmnt"></td>
                        </tr>
                        <tr>
                            <td>01/06/2023</td>
                            <td>Govt.</td>
                            <td id="rcvAmnt"></td>
                            <td></td>
                            <td>Payment to Vendor</td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>01/06/2023</td>
                            <td>Other Source</td>
                            <td></td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-end"><strong>Total Receipt </strong></td>
                            <td>30,000</td>
                            <td>70,000</td>
                            <td></td>
                            <td colspan="1" class="text-end"><strong>Total Expenses</strong></td>
                            <td>2,000</td>
                            <td>1,000</td>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-end"><strong>Closing Balance</strong></td>
                            <td>28,000</td>
                            <td>69,000</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-end"><strong>Grant Total </strong></td>
                            <td>30,000</td>
                            <td>70,000</td>
                            <td></td>
                            <td colspan="1" class="text-end"><strong>Grant Total </strong></td>
                            <td>30,000</td>
                            <td>70,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('../Includes/footer.ejs')%>

</body>



</html>