<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/core/libs.min.css">
    <link rel="stylesheet" href="assets/css/qompac-ui.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/custom.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/dark.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/customizer.minf700.css?v=1.0.1" >
    <link rel="stylesheet" href="assets/css/rtl.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>

    <%-include('../Includes/sidebar.ejs')%>
    <%-include('../Includes/header-3.ejs')%>

<div class="content-inner container-fluid pb-0" id="page_layout">
    <h4 class="mb-5">Assign Bank with Scheme</h4>
    <div>
        <div style="margin-left:90%;">
            <a href="/cas/directorate/scheme2bank">
                <button type="button" class="btn btn-primary next action-button"><i
                        class="fa fa-arrow-left"></i>Back</button>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form action="/cas/directorate/edit-scheme2bank/<%= schemeBankDetails._id %>" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Directorate Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="directorate" value="<%= directorate.name %>" readonly>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Scheme Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="schemeName" value="<%= schemeBankDetails.scheme ? schemeBankDetails.scheme.name : '' %>">
                        </div>
                    </div>
    
                    <div class="col-md-2" style="display: flex;flex-direction: row; align-items: center;justify-content: center;">
                        <div class="form-group col-md-10">
                            <label class="form-label">Bank Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="bankName" value="<%= schemeBankDetails.bankId ? schemeBankDetails.bankId.bank : '' %>">
                        </div>
                    </div>
    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    


</div>

<%- include('../Includes/footer.ejs')%>

</body>



</html>