<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/core/libs.min.css">
    <link rel="stylesheet" href="assets/css/qompac-ui.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/custom.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/dark.minf700.css?v=1.0.1">
    <link rel="stylesheet" href="assets/css/customizer.minf700.css?v=1.0.1" >
    <link rel="stylesheet" href="assets/css/rtl.minf700.css?v=1.0.1">
</head>
<body>

    <%- include('../Includes/sidebar3.ejs')%> 
    <%- include('../Includes/header-5.ejs')%>

<div class="content-inner container-fluid pb-0" id="page_layout">
    <h4 class="mb-5">Adjustment</h4>
    <div class="card">
        <form action="/cas/district/adjustment" method="post">
        <div class="card-body">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Voucher No <span class="text-danger">*</span></label>
                        <select class="form-control" name="autoVoucherNo" id="autoVoucherNo">
                            <option>Select</option>
                            <% for( let adv of advanceDetails ) { %>
                                <option value="<%= adv.autoVoucherNo %>" <%= advanceDetails.autoVoucherNo === adv.autoVoucherNo ? 'selected': '' %> ><%= adv.autoVoucherNo %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Adjustment Date<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" name="adjDate" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Sanction Order Ref. No.<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="sanction_ord_no" name="sanction_no" >
                    </div>
                </div>
            <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label"> Date <span class="text-danger">*</span></label>
                        <input type="text" id="dateValue" class="form-control" >
                        <input type="text" hidden="true" id="date" class="form-control" name="date">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Mode of Payment <span class="text-danger">*</span></label>
                        <input type="text" id="MOP" class="form-control"  name="mode_of_payment">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="transaction_id" class="form-label">CHEQUE/DRAFT No. <span class="text-danger">*</span></label>
                        <input type="" class="form-control" id="transaction_id_val" name="transaction_id">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label id="transaction_date" class="form-label">CHEQUE/DRAFT Date.  <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" readonly="true" id="transaction_date_val" name="transaction_date">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Pupose Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" readonly="true" id="purpose" name="purpose">
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Party Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" readonly="true" id="party" name="party">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Office Name<span class="text-danger">*</span></label>
                        <input type="text" id="officeSelect" class="form-control" readonly="'true" name="office_name" value="<%= office_details.name %>">
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label"> From Office Bank  <span class="text-danger">*</span></label>
                        <input type="text" id="officeBank" class="form-control" readonly="'true" name="office_bank">

                    </div>
                </div>


                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label"> To Party Bank Account  <span class="text-danger">*</span></label>
                        <input type="text"  id="benifBank" class="form-control" name="partyBank">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label"> Amount Paid <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="amount" name="amount">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label"> Amount to be Adjusted <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="adjAmount" name="adjAmount">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label"> Financial-year <span class="text-danger">*</span></label>
                        <select class="form-control" id="officeSelect" name="financial_year" >
                            <% for( let fny of financialYear ) { %>
                                <option value="<%= fny.year %>" <%= financialYear.year === fny.year ? 'selected': '' %> ><%= fny.year %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Naration <span class="text-danger">*</span></label>
                        <input type="text" style='height:80px; width:320px;' class="form-control" name="desc">
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary next action-button">Submit</button>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sl. No.</th>
                            <th>Office Name</th>
                            <th>Party Name</th>
                            <th>Purpose</th>
                            <th>Voucher No</th>
                            <th>Sanction <br> Order No.</th>
                            <th>Payment <br> Date</th>
                            <th>Mode of <br>Payment</th>
                            <th> Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a class="btn btn-primary btn-icon btn-sm rounded-pill ms-2" href="receipt-voucher-print.php" role="button" target="_blank">
                                    <span class="btn-inner">
                                        <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 114.13" style="enable-background:new 0 0 122.88 114.13" xml:space="preserve"><g><path d="M23.2,29.44V3.35V0.53C23.2,0.24,23.44,0,23.73,0h2.82h54.99c0.09,0,0.17,0.02,0.24,0.06l1.93,0.8l-0.2,0.49l0.2-0.49 c0.08,0.03,0.14,0.08,0.2,0.14l12.93,12.76l0.84,0.83l-0.37,0.38l0.37-0.38c0.1,0.1,0.16,0.24,0.16,0.38v1.18v13.31 c0,0.29-0.24,0.53-0.53,0.53h-5.61c-0.29,0-0.53-0.24-0.53-0.53v-6.88H79.12H76.3c-0.29,0-0.53-0.24-0.53-0.53 c0-0.02,0-0.03,0-0.05v-2.77h0V6.69H29.89v22.75c0,0.29-0.24,0.53-0.53,0.53h-5.64C23.44,29.97,23.2,29.73,23.2,29.44L23.2,29.44z M30.96,67.85h60.97h0c0.04,0,0.08,0,0.12,0.01c0.83,0.02,1.63,0.19,2.36,0.49c0.79,0.33,1.51,0.81,2.11,1.41 c0.59,0.59,1.07,1.31,1.4,2.1c0.3,0.73,0.47,1.52,0.49,2.35c0.01,0.04,0.01,0.08,0.01,0.12v0v9.24h13.16h0c0.04,0,0.07,0,0.11,0.01 c0.57-0.01,1.13-0.14,1.64-0.35c0.57-0.24,1.08-0.59,1.51-1.02c0.43-0.43,0.78-0.94,1.02-1.51c0.21-0.51,0.34-1.07,0.35-1.65 c-0.01-0.03-0.01-0.07-0.01-0.1v0V43.55v0c0-0.04,0-0.07,0.01-0.11c-0.01-0.57-0.14-1.13-0.35-1.64c-0.24-0.56-0.59-1.08-1.02-1.51 c-0.43-0.43-0.94-0.78-1.51-1.02c-0.51-0.22-1.07-0.34-1.65-0.35c-0.03,0.01-0.07,0.01-0.1,0.01h0H11.31h0 c-0.04,0-0.08,0-0.11-0.01c-0.57,0.01-1.13,0.14-1.64,0.35C9,39.51,8.48,39.86,8.05,40.29c-0.43,0.43-0.78,0.94-1.02,1.51 c-0.21,0.51-0.34,1.07-0.35,1.65c0.01,0.03,0.01,0.07,0.01,0.1v0v35.41v0c0,0.04,0,0.08-0.01,0.11c0.01,0.57,0.14,1.13,0.35,1.64 c0.24,0.57,0.59,1.08,1.02,1.51C8.48,82.65,9,83,9.56,83.24c0.51,0.22,1.07,0.34,1.65,0.35c0.03-0.01,0.07-0.01,0.1-0.01h0h13.16 v-9.24v0c0-0.04,0-0.08,0.01-0.12c0.02-0.83,0.19-1.63,0.49-2.35c0.31-0.76,0.77-1.45,1.33-2.03c0.02-0.03,0.04-0.06,0.07-0.08 c0.59-0.59,1.31-1.07,2.1-1.4c0.73-0.3,1.52-0.47,2.36-0.49C30.87,67.85,30.91,67.85,30.96,67.85L30.96,67.85L30.96,67.85z M98.41,90.27v17.37v0c0,0.04,0,0.08-0.01,0.12c-0.02,0.83-0.19,1.63-0.49,2.36c-0.33,0.79-0.81,1.51-1.41,2.11 c-0.59,0.59-1.31,1.07-2.1,1.4c-0.73,0.3-1.52,0.47-2.35,0.49c-0.04,0.01-0.08,0.01-0.12,0.01h0H30.96h0 c-0.04,0-0.08-0.01-0.12-0.01c-0.83-0.02-1.62-0.19-2.35-0.49c-0.79-0.33-1.5-0.81-2.1-1.4c-0.6-0.6-1.08-1.31-1.41-2.11 c-0.3-0.73-0.47-1.52-0.49-2.35c-0.01-0.04-0.01-0.08-0.01-0.12v0V90.27H11.31h0c-0.04,0-0.08,0-0.12-0.01 c-1.49-0.02-2.91-0.32-4.2-0.85c-1.39-0.57-2.63-1.41-3.67-2.45c-1.04-1.04-1.88-2.28-2.45-3.67c-0.54-1.3-0.84-2.71-0.85-4.2 C0,79.04,0,79,0,78.96v0V43.55v0c0-0.04,0-0.08,0.01-0.12c0.02-1.49,0.32-2.9,0.85-4.2c0.57-1.39,1.41-2.63,2.45-3.67 c1.04-1.04,2.28-1.88,3.67-2.45c1.3-0.54,2.71-0.84,4.2-0.85c0.04-0.01,0.08-0.01,0.12-0.01h0h100.25h0c0.04,0,0.08,0,0.12,0.01 c1.49,0.02,2.91,0.32,4.2,0.85c1.39,0.57,2.63,1.41,3.67,2.45c1.04,1.04,1.88,2.28,2.45,3.67c0.54,1.3,0.84,2.71,0.85,4.2 c0.01,0.04,0.01,0.08,0.01,0.12v0v35.41v0c0,0.04,0,0.08-0.01,0.12c-0.02,1.49-0.32,2.9-0.85,4.2c-0.57,1.39-1.41,2.63-2.45,3.67 c-1.04,1.04-2.28,1.88-3.67,2.45c-1.3,0.54-2.71,0.84-4.2,0.85c-0.04,0.01-0.08,0.01-0.12,0.01h0H98.41L98.41,90.27z M89.47,15.86 l-7-6.91v6.91H89.47L89.47,15.86z M91.72,74.54H31.16v32.89h60.56V74.54L91.72,74.54z"/></g></svg>
                                    </span>
                                </a>
                                <a class="btn btn-primary btn-icon btn-sm rounded-pill ms-2" href="#" role="button">
                                    <span class="btn-inner">
                                        <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.4" d="M19.9927 18.9534H14.2984C13.7429 18.9534 13.291 19.4124 13.291 19.9767C13.291 20.5422 13.7429 21.0001 14.2984 21.0001H19.9927C20.5483 21.0001 21.0001 20.5422 21.0001 19.9767C21.0001 19.4124 20.5483 18.9534 19.9927 18.9534Z" fill="currentColor"></path>
                                            <path d="M10.309 6.90385L15.7049 11.2639C15.835 11.3682 15.8573 11.5596 15.7557 11.6929L9.35874 20.0282C8.95662 20.5431 8.36402 20.8344 7.72908 20.8452L4.23696 20.8882C4.05071 20.8903 3.88775 20.7613 3.84542 20.5764L3.05175 17.1258C2.91419 16.4915 3.05175 15.8358 3.45388 15.3306L9.88256 6.95545C9.98627 6.82108 10.1778 6.79743 10.309 6.90385Z" fill="currentColor"></path>
                                            <path opacity="0.4" d="M18.1208 8.66544L17.0806 9.96401C16.9758 10.0962 16.7874 10.1177 16.6573 10.0124C15.3927 8.98901 12.1545 6.36285 11.2561 5.63509C11.1249 5.52759 11.1069 5.33625 11.2127 5.20295L12.2159 3.95706C13.126 2.78534 14.7133 2.67784 15.9938 3.69906L17.4647 4.87078C18.0679 5.34377 18.47 5.96726 18.6076 6.62299C18.7663 7.3443 18.597 8.0527 18.1208 8.66544Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                                <a class="btn btn-primary btn-icon btn-sm rounded-pill ms-2" href="#" role="button">
                                    <span class="btn-inner">
                                        <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.4" d="M19.643 9.48851C19.643 9.5565 19.11 16.2973 18.8056 19.1342C18.615 20.8751 17.4927 21.9311 15.8092 21.9611C14.5157 21.9901 13.2494 22.0001 12.0036 22.0001C10.6809 22.0001 9.38741 21.9901 8.13185 21.9611C6.50477 21.9221 5.38147 20.8451 5.20057 19.1342C4.88741 16.2873 4.36418 9.5565 4.35445 9.48851C4.34473 9.28351 4.41086 9.08852 4.54507 8.93053C4.67734 8.78453 4.86796 8.69653 5.06831 8.69653H18.9388C19.1382 8.69653 19.3191 8.78453 19.4621 8.93053C19.5953 9.08852 19.6624 9.28351 19.643 9.48851Z" fill="currentColor"></path>
                                            <path d="M21 5.97686C21 5.56588 20.6761 5.24389 20.2871 5.24389H17.3714C16.7781 5.24389 16.2627 4.8219 16.1304 4.22692L15.967 3.49795C15.7385 2.61698 14.9498 2 14.0647 2H9.93624C9.0415 2 8.26054 2.61698 8.02323 3.54595L7.87054 4.22792C7.7373 4.8219 7.22185 5.24389 6.62957 5.24389H3.71385C3.32386 5.24389 3 5.56588 3 5.97686V6.35685C3 6.75783 3.32386 7.08982 3.71385 7.08982H20.2871C20.6761 7.08982 21 6.75783 21 6.35685V5.97686Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../Includes/footer.ejs')%>

</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const ofcBnkSelect = document.getElementById('ofcBnkSelect');
      const mop = document.getElementById('MOP');
      const autoVoucherNo = document.getElementById('autoVoucherNo');
      const sanction_no = document.getElementById('sanction_ord_no');
      const transactionId = document.getElementById('transaction_id');
      const transactionDate = document.getElementById('transaction_date');
      const beneficiarySelect = document.getElementById('beneficiarySelect');
      const benifBank = document.getElementById('benifBank');
      const date = document.getElementById('date');
      const dateValue = document.getElementById('dateValue');
      const transactionIdValue = document.getElementById('transaction_id_val');
      const transactionDateValue = document.getElementById("transaction_date_val");
      const purpose = document.getElementById("purpose");
      const party = document.getElementById("party");
      const officeBank = document.getElementById("officeBank");
      const amount = document.getElementById("amount");
      const amountAdjustedInput = document.getElementById('adjAmount');
      const form = document.querySelector('form');

      // Function to fetch data from the backend API and update the table
     async function autoVoucherNoDetails(){
        const voucherDetails=autoVoucherNo.value;
        const response= await fetch(`/cas/district/adjustment/${encodeURIComponent(voucherDetails)}`)
        const data=await response.json();
        if(response.ok){
            sanction_no.value=data?.sanction_no
            date.value=data?.date
            dateValue.value=data?.date.toLocaleString("en-GB",{day:"numeric", month:"numeric", year:"numeric"})
            mop.value=data?.mode_of_payment
            transactionIdValue.value=data?.transction_id
            transactionDateValue.value=(data?.transaction_date)
            purpose.value=data?.purpose.name
            party.value=data?.party.name
            officeBank.value=data?.from_bank?.bank
            benifBank.value=data?.party?.Bnk_Acc_No
            amount.value=data?.amount
        }

     }

      async function modeofPmnts(){
        const selectedMode=mop.value
        if(!selectedMode){
            transactionId.innerHTML='Tansaction ID <span class="text-danger">*</span>'
            transactionDate.innerHTML='Transaction Date <span class="text-danger">*</span>'
        }
      }

//       async function fetchTableData() {
//         const selectedScheme = schemeSelect.value;
//         if (beneficiarySelect === 'Select') {
//           tableBody.innerHTML = ''; // Clear the table when 'Select' is chosen
//           return;
//         }
  
//         try {
//           const response = await fetch(`/cas/directorate/payments/${selectedScheme}`);
//           const data = await response.json();
//           console.log(`fetched data`,data.components);
//           // Update the table with the fetched data
//           tableBody.innerHTML = data.components
//             .map(
//               (component) => ` <option value=${component.name}>${component.name}</option>`
//             )
//         } catch (error) {
//           console.error('Error fetching data:', error);
//         }
//       }
//       beneficiarySelect.addEventListener('change', populateBeneficiaryBank)
     
//       function populateBeneficiaryBank() {
//             // const selectedBeneficiary = beneficiarySelect.value;
//             if (selectedBeneficiary === 'Select') {
//                 benifBank.value = ''; // Clear the field when 'Select' is chosen
//                 return;
//             }

//             // Find the selected beneficiary in the office_details data
//             const selectedBeneficiaryData =benificiaryData.find(f=>f.benificiary_name===beneficiarySelect.value)
//             console.log(`hjh`, selectedBeneficiaryData)
            
//             // If the selected beneficiary data is found, populate the "To Beneficiary Bank" input field with the bank name
           
//                 benifBank.innerText = selectedBeneficiaryData.Bnk_Acc_No; // Assuming the bank name is available in the 'bank_name' property
            
            
//         }
      
//       async function fetchOfcData() {
//     const selectedScheme = schemeSelect.value;
//     const selectedOffice = officeSelect.value;

//     if (selectedScheme && selectedOffice) {
//       try {
//         const response = await fetch(`/cas/directorate/payments/bank/${selectedOffice}/${selectedScheme}`);
//         const data = await response.json();
//         console.log(`fetched data`, data);
//         // Update the select element with the fetched data
//         ofcBnkSelect.innerHTML = data
//           .map((bnk) => `<option value=${bnk.bankId.bank}>${bnk.bankId.bank}</option>`);
//       } catch (error) {
//         console.error('Error fetching data:', error);
//       }
//     }
//   }
      
function handleSubmit(event) {
    event.preventDefault();

    const amountPaid = parseFloat(amount.value);
    const amountAdjusted = parseFloat(amountAdjustedInput.value);

    if (isNaN(amountPaid) || isNaN(amountAdjusted)) {
      alert('Please enter valid numeric values for Amount Paid and Amount Adjusted.');
      return;
    }

    if (amountAdjusted > amountPaid) {
      alert('Amount Adjusted cannot be greater than Amount Paid.');
      return;
    }
    event.target.submit();
    }

    
    form.addEventListener('submit', handleSubmit);

      // Event listener to trigger data fetching when the scheme select value changes

     
    //   schemeSelect.addEventListener('change', fetchOfcData);
    //   schemeSelect.addEventListener('change', fetchTableData);
      
      autoVoucherNo.addEventListener('change',autoVoucherNoDetails)
        modeofPmnts()
      // Initially, call the fetch function to populate the table based on the default selected scheme (Select)
    //   fetchTableData();
      
      
    });
    

      // Check if the voucher number exists
  const voucherNo = '<%=voucherNo %>';
    if (voucherNo) {
      // Display the voucher number in a popup
      alert(`Voucher Number created successfully/n: ${voucherNo}`);
    }
  </script>
 
</html>